.container{margin-bottom: 5%;}

.bg-color{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}

.tv-price{
    color: #ff136f;
    font-weight: 400;
}

.buy-now{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 10px;
}

.categories h1{
    color: #fff;
    font-weight: 700;
}
.categories img{
    width: 100px;
}

.cat1{
    background-image: linear-gradient(45deg, rgb(247, 175, 42), darkorange);
}
.cat2{
    background-image: linear-gradient(60deg,orchid,darkorchid) ;
}
.cat3{
    background-image: linear-gradient(52deg, rgb(8, 151, 199), blue);
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

.sub{
    background-color: #fceae8;
    height: 300px;
}